button.rounded.active {
    background-color: #333; /* Set your desired active color */
    color: #fff; /* Set the text color for the active button */
  }

  .confirmed{
    color: green !important;
    font-weight: bold !important;
  }
  .pending{
    color: orange !important;
    font-weight: bold !important;
  }
  .cancelled{
    color: red !important;
    font-weight: bold !important;
  }